body{
    background-color: aliceblue;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
.button{
    .button {
        background-color: #917FB3; /*light violet */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
}
